extends layout

block content
  .left-navigation 
    h1(style="font-size:40px") MarketPlace
    .nav-item
      i.bi-shop(class="icon")     Browse all
    .nav-item
      i.bi-cart(class="icon")   Sell Product
    .nav-item
      i.bi-basket3(class="icon")   Edit Product
    .nav-item
      i.bi-bag(class="icon")   Archive Product
    
    hr
    
    h1(style="font-size:30px")  Categories
    .nav-item
      i.bi-award(class="icon")  Clothes
    .nav-item
      i.bi-bag(class="icon")  Bags
    .nav-item
      i.bi-house(class="icon")  Houses
    .nav-item
      i.bi-ev-front(class="icon")   Vehicles
    .nav-item
      i.bi-box(class="icon")   Free Stuffs
    .nav-item
      i.bi-tags(class="icon")   Classifieds
    .nav-item
      i.bi-phone(class="icon")   Electronics

  .main-content
    h1(class="my-h1") Today's picks
    .product-grid
      each product in productList
        a.product-link(href=`http://localhost:3000/product/${product._id}`) 
          .product-card
            img(class="product-img" src=product.imageURL, alt='product image')
            p CA $#{product.price} 
            p #{product.title || 'N/A'} 
            p #{product.location || 'N/A'}