extends layout

block content
    h1 product details page
    p #{product.title}
    p #{product.seller}
    p #{product.description}
    p #{product.price}
    p #{product.condition}
    p #{product.location}
    p #{product.contact}
