extends layout

block pageStyles
  link(rel="stylesheet", href="/stylesheets/product-detail.css")

block content 
  .product-details-container
    h1.product-title #{product.title}
    
    
    .product-info
      img.product-image(src=product.imageURL, alt="product image")
      
      .product-meta
        // Display the current status
        p 
          strong Status: 
          | #{product.status} 
        p
          strong Seller: 
          | #{product.seller || 'N/A'}
        p
          strong Description:
          | #{product.description || 'No description available'}
        p
          strong Price:
          | CA $#{product.price}
        p
          strong Condition:
          | #{product.condition || 'N/A'}
        p
          strong Location:
          | #{product.location || 'N/A'}
        p
          strong Contact:
          | #{product.contact || 'N/A'}
    
    .button-container
      a.button-back(href="/") Back to Products
      a.button-edit(href=`/edit/${product._id}/verify`) Edit Post
